.nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none; /*se quitan los puntitos*/
}
.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content; /* No se coratará el texto cuando se haga pequeño*/
}
.nav-menu-link {
    padding: 8px 12px;
    border-radius: 5px;
}
.nav-menu-link:hover {
    background-color: aqua;
    transition: 0.5s;
    color: black;
}
.section1 {
    display: grid;
    align-items: center;
    justify-content: center;
    border: brown solid;
    border: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 800px;
}